<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>

  <tbody>
    <%= render 'new' %>
    <div id="post-list">
      <%= render @posts %>
      <%= paginate @posts %>
    </div>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Quit', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Log in', new_user_session_path %> или <%= link_to 'New User Registration', new_user_registration_path %>
<% end %>